@import '../../assets/styles/mixins';

.container {
    @include container;

    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1;
}

.title {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    /* margin-left: 65px; */
    margin: 0px auto;
    flex: 1;
    text-align: center;
}

@media (max-width: 1600px) {
    .container {
        max-width: 1400px;
    }
}
@media (max-width: 1400px) {
    .container {
        max-width: 1200px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}
@media (max-width: 1000px) {
    .container {
        max-width: 800px;
    }
}
@media (max-width: 800px) {
    .container {
        max-width: 650px;
    }
}
@media (max-width: 650px) {
    .container {
        max-width: 450px;
    }
}