@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap);
@import url(https://fonts.googleapis.com/css?family=Sen:800&display=swap);


body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Inter;
  background: #14191F;
  color: #FDFFFC;
}
a {
  text-decoration: none;
}
code {
  
}
